body, * {
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
header{
  margin-top: 70px;
  margin-bottom: 100px;
  display: flex;
}

.navigation{
  width: 100%;
}

.navigation > ul{
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  
}
.nav-link {
  text-decoration: none;
  color: #626262;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.nav-link:hover{
  color: #03a9f4;
}
.articles-items {
  display: grid;
  grid-template-columns: 419px 419px;
  grid-column-gap: 20px;
  grid-row-gap: 132px;
  justify-content: space-evenly;
}
.article-group{
  margin: 28px 0;
  color: #b4ad9e;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}
.article-title {
  margin-bottom: 40px;
  color: #626262;
  font-family: "Playfair Display" ;
  font-size: 30px;
  font-weight: 400;
}
.article-text {
  height: 64px;
  color: #626262;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  overflow: hidden;
}
.button-load {
  height: 60px;
  width: 164px;
  margin: 86px auto 20px auto;
  border: 1px solid #626262;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-text {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.hide{
  display: none;
}