html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  color: #626262;
  font-family: "Playfair Display";
}

header{
  margin: 72px auto 96px auto;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.nav-menu{
  width: 573px;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  
}
.nav-menu__item{
  display: inline-block;
}
.nav-menu__link {
  text-decoration: none;
  display: inline-block;
  color: #626262;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.nav-menu__link:hover,
.nav-menu__link:focus {
  color: #03a9f4;
  border: none;
}

.cards {
  width: 900px;
  margin: 0 auto;
}

.card {
  width: 420px;
  margin-bottom: 112px;
  display: inline-block;
  vertical-align: top;
}


.card__subtitle {
 color: #b4ad9e;
 font-family:" Ubuntu";
 font-size: 14px;
 font-weight: 300;
 text-transform: uppercase;
 margin-top: 26px;
}

.card__title {
  font-family: "Playfair Display";
  font-size: 30px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 0;
}
.card__description {
  margin-top: 28px;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.card:nth-of-type(3n) {
  margin-bottom: 120px;
}
.card:nth-of-type(2n) {
  margin-left: 56px;
}
.card:nth-last-child(-n+3) {
  margin-bottom: 38px;
}

.btn-load-more {
  padding: 16px 32px;
  background: none;
  margin: 0 auto 60px auto;
  border: 1px solid #626262;
  display: block;
  cursor: pointer;
}
.btn-load-more > span {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}