$title-color: #333;
$text-main-color: #999;
$text-main-font: 'Roboto', 'sans-serif';
$title-font: 'Montserrat', 'sans-serif';
$card-second-bg-color: #95e1d3;
$primary-accent-color: #fce38a;
$primary-white-color: #fff;
$secondary-accent-color: #f38181;