*,
*::before,
*::after {
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
}



.wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(../img/mac.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  position:absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:500px;
  height:300px;
  display: flex;
  align-items: center;
  text-align: center;
  left: calc( 50% - 250px );
  top:20%;
	border-radius:5px;
  padding:20px;
  box-shadow: 0 25px 25px rgba(0,0,0,.6);
}
.container:hover {
  cursor: move;
  box-shadow: 0 20px 40px rgba(0,0,0,.9);
}
.title {
  font-family: Raleway, sans-serif;
  display: flex;
  font-weight: 100;
}
h1{
  font-family: Raleway, sans-serif;
  display: flex;
  font-weight: 100;
}
.blur {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  background-image: linear-gradient(0deg, rgba(255,255,255,.2),rgba(255,255,255,.2)),url(../img/mac-blured.jpg);
}
  