.form {
  display: flex;
  align-items: center;
}

.form__input-subscribe {
  width: 230px;
  height: 40px;
  border: 1px solid #e7e7e7;
  background-color: $primary-white-color;
  padding: 14px;
}

.form__input-subscribe {
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  color: #ccc;
  font-family: $text-main-font;
  font-style: italic;
}

.form__button-subscribe {
  width: 150px;
  height: 40px;
  background-color: $card-second-bg-color;
  border: none;
  font-size: 14px;
  font-weight: 700;
  font-family: $title-font;
  text-transform: uppercase;
  color: $primary-white-color;
  cursor: pointer;
}

